@import url('https://fonts.googleapis.com/css?family=Pacifico');

* {
	background: #4568DC;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #B06AB3, #4568DC);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #B06AB3, #4568DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

h1 {
	font-family: Pacifico;
	font-size: 60px;
	color: white;
}

.space-down {
	margin-bottom: 50px;
}

.container-fluid {
	margin-top: 20px;
}

.row {
	height: 100px;
}

a {
	color: black;
	background-color: white;
	width: 300px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

h3 {
	color : white;
}